
@{
    ViewBag.Title = "Denied";
    Layout = "~/Views/Shared/_Layout_FullWidth.cshtml";
}

<div class="main__content">
        <h2>Bạn bị từ chối truy cập đến trang này !</h2>
        <a href="/Home/Index" class="btn btn-danger">Quay Lại</a>
</div>

