
@{
    ViewBag.Title = "Denied";
    Layout = "~/Views/Shared/_Layout_FullWidth.cshtml";
}

<div class="main__content">
        <h2 style="padding-top:200px; margin-top:0px;">ADC GROUP : Bạn bị từ chối truy cập đến trang này</h2>
        @Html.ActionLink("Thử lại", "Index", "Home", new { @class = "btn btn-danger" })
        @Html.ActionLink("Quay lại", "Index", "Home", new { @class = "btn btn-danger" })
</div>

