@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_FullWidth.cshtml";
}

<div class="main__content">
    <h1>ADC GROUP</h1>
    <p style="color:brown; font-size:30px;">Xin Chào, @Html.ViewBag.DislayName</p>
    <a href="/Home/Home_Booking" class="btn btn-main">Meeting Room Reservation</a>
</div>