
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="~/Asset/images/Logo2.png" />
    <link href="~/Asset/css/styleBuilding.css" rel="stylesheet" />
    <title>ADC Booking</title>
</head>
<body>

    <div id=container>
        <a href="/About/ADCGroup"><img src="~/Asset/images/logoadc.jpg" id="avatar" width="250" draggable="false" /></a> 
        <div id=text>
            <h1>Building...</h1>
            <p title="(I guess)">(coming soon)</p>
        </div>
    </div>
</body>
</html>